[Desktop Entry]
Type=Application
Name=Xwayland Video Bridge
Comment=Bridge Wayland screen capture to legacy X11 applications
Exec=xwaylandvideobridge
TryExec=xwaylandvideobridge
NoDisplay=true
OnlyShowIn=KDE;
