[Unit]
Description=Run centralized repository synchronization periodically

[Timer]
OnStartupSec=10min
OnUnitActiveSec=30min
AccuracySec=1min
RandomizedDelaySec=2min
Unit=sync-all.service

[Install]
WantedBy=timers.target
